@import url('variables.css');

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

/* estilização da barra de navegação */
nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
    background-color: #000e1b;
    z-index: 2;
}

nav h1 {
    font-weight: 700;
    font-size: 24pt;
}

nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    font-size: 16pt;
    color: var(--links-color);
    padding: 0 0 8px 0;
}

nav ul a:hover {
    border-bottom: solid 4px var(--links-color);
}

/* Estilização do header */
header {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

header h3 {
    font-size: 24pt;
    font-weight: 500;
}

header h2 {
    font-size: 34pt;
    font-weight: 700;
}

header p {
    font-size: 16pt;
}

header div {
    display: flex;
    align-items: center;
}

/* Estilização do sobre mim */

#aboutme {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#aboutme h2{
    font-size: 24pt;
    margin-bottom: 32px;
}

#aboutme .terminal {
    background-color: rgb(6, 0, 16);
    min-width: 50%;
    min-height: 50%;
    border-radius: 4px;
    
    font-size: 16pt;
    font-family: "Ubuntu Mono", monospace;
}

#aboutme .terminal div {
    padding: 4px;
}

#aboutme aside {
    background-color: rgb(48, 48, 48);
    height: 45px;
    border-radius: 8px 8px 0 0 ;
}

.computer {
    color: var(--terminal-primary);
    font-weight: 700;
}

.dir {
    color: var(--terminal-secondary);
}

.div-terminal {
    display: flex;
}


@keyframes pulse {
    0% {
    opacity: 0;   
    }   

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.bar {
    width: 10px;
    height: 24px;
    background-color: var(--text-color);
    margin-left: 4px;
    animation: pulse 1.3s steps(1, end) infinite;
}

/* Estilização do formação*/
#formation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #000e1b;
    padding: 64px 0;
}

#formation h2 {
    font-size: 24pt;
    font-weight: 700;
}

#formation h4 {
    font-size: 20pt;
    font-weight: 500;
    margin-top: 18px;
}

#formation h3 {
    font-size:  24pt;
    margin-top: 32px;
}

#formation p {
    font-size: 14pt;
}

/* Estilização do portfolio */
#portfolio {
    width: 100%;
    height: 100%;

    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#portfolio h2 {
    font-size: 24pt;
    margin-bottom: 24px;
}

#portfolio .cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

#portfolio .card {
    width: 300px;
    height: 350px;

    background-color: #000a13;
    text-align: center;
    padding: 24px;

    border: solid 1px var(--primary-color);
    border-radius: 4px;

    position: relative;
    z-index: 1;
}

#portfolio .card h4 {
    font-size: 24pt;
    margin-bottom: 24px;
}

#portfolio .card p {
    opacity: 0.85;
}

#portfolio .card a {
    width: 100px;
    height: 30px;
    position: absolute;
    margin-left: 75px;
    bottom: 24px;

    text-decoration: none;
    color: var(--links-color);
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

/* Estilização do contato */
#contact {
    background-color: #000e1b;
    width: 100%;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form {
    width: 400px;
}

#contact form div {
    display: flex;
    flex-direction: column;
    
}

#contact form div label{
    font-size: 14pt;
    font-weight: 500;
    
}

#contact form div input,
#contact form div textarea {
    padding: 8px;
    font-size: 14pt;
    margin-top: 4px;
    margin-bottom: 16px;
    color: white;

    background-color: var(--secondary-color);
    border: none;

    resize: none;
    border: solid 1px var(--links-color);
    border-radius: 4px;
}

#contact form div input:focus,
#contact form div textarea:focus {
    outline: 2px solid var(--text-color);
    border: none;
}

#contact form button {
    width: 100%;
    font-size: 14pt;
    text-transform: uppercase;
    padding: 12px 0;
    font-weight: 700;
    background-color: var(--terminal-secondary);
    border: none;
    border-radius: 4px;
    color: var(--text-color);

    cursor: pointer;

    transition: 0.2s;
}

#contact form button:hover {
    filter: brightness(0.7);
}

#contact h2 {
    font-size: 24pt;
    font-weight: 700;
}