:root {
    --links-color: #079DD9;
    --primary-color: #033E8C;
    --secondary-color: #023059;
    --background-color: #011526;
    --text-color: #C4EEF2;

    --terminal-primary: #349676;
    --terminal-secondary: #0460D9;
}